<app-header>
  <ng-container header-left>
    @if (isEditOrNew) {
      <form class="flex-grow-1 mr-1">
        <label class="sr-only"
               for="name">Nombre</label>
        <input type="text"
               class="form-control"
               [formControl]="nameShoppingListFormControl"
               placeholder="Nombre de la lista"
               id="name"
               name="name">
      </form>
    } @else {
      <h1>{{ nameShoppingListFormControl.value }}</h1>
    }
  </ng-container>
  <ng-container header-right>
    @if (isEditOrNew) {
      <button class="btn btn-primary"
              (click)="saveClickEvent()"
              type="button">
        <i class="fas fa-save w-25px"></i>
        Guardar
      </button>
    } @else {
      <button class="btn btn-primary"
              (click)="editClickEvent()"
              type="button">
        <i class="fas fa-edit w-25px"></i>
        Editar
      </button>
    }
  </ng-container>
</app-header>
