<app-header>
  <ng-container header-left>
    <div class="flex-grow-1">
      <a routerLink="/" class="btn pl-0">
        <i class="fas fa-arrow-left"></i>
      </a>
    </div>
  </ng-container>
  <ng-container header-right>
    <button class="btn pr-0" type="button" data-toggle="modal"
            data-target="#options-modal">
      <i class="fas fa-ellipsis-h"></i>
    </button>
  </ng-container>
  <div class="d-flex justify-content-between mt-2">
    @if (isEdit) {
      <div class="flex-grow-1">
        <label class="sr-only" for="name">Nombre</label>
        <input type="text"
               class="form-control"
               value="{{name}}"
               placeholder="Nombre de la lista"
               id="name"
               name="name">
      </div>
    } @else {
      <h1 class="flex-grow-1">{{ name }}</h1>
    }
  </div>
</app-header>
