<button class="btn text-danger mb-3"
        [attr.disabled]="deselectAllDisabled()"
        (click)="deselectAllEvent()"
        type="button">
  <i class="fas fa-undo w-25px"></i>
  Desmarcar todo
</button>
@switch (viewTypeProductList()) {
  @case (viewTypeProductListEnum.PRODUCT_LIST) {
    <app-product-group-list [shoppingList]="shoppingList()"
                            [productListForm]="productListForm"
                            (deleteProduct)="deleteProductEvent($event)"
                            (selectProduct)="selectProductEvent($event)"/>
  }
  @case (viewTypeProductListEnum.PRODUCT_IMAGE_LIST) {
    <app-product-image-list [shoppingList]="shoppingList()"
                            [productListForm]="productListForm"
                            (deleteProduct)="deleteProductEvent($event)"
                            (selectProduct)="selectProductEvent($event)"/>
  }
}
@if (showMoreButton().render) {
  <p-button [disabled]="showMoreButton().disabled"
            styleClass="btn btn-default btn-block"
            label="Mostrar más"
            (click)="showMoreButton().click()"/>
}

<app-product-modal-shopping-list [selectedProduct]="selectedProduct()"
                                 (deleteProduct)="deleteProductEvent($event)"/>
