<div class="alert alert-default-secondary alert-dismissible fade show"
     role="alert">
  <strong>GitHub: </strong><a href="https://github.com/despensa-app"
                              target="_blank"
                              class="text-primary">https://github.com/despensa-app</a>
  <button type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="d-flex justify-content-between">
  <ng-content select="[header-left]"/>
  <ng-content select="[header-right]"/>
</div>
<div class="d-flex align-items-center">
  <ng-content select="[header]"/>
</div>
<ng-content/>
