<app-page>
  <ng-container navbar>
    <app-add-products-navbar-shopping-list/>
  </ng-container>
  <ng-container header>
    <app-add-product-header-shopping-list [idShoppingList]="idShoppingList"/>
  </ng-container>
  <ng-container content>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="fas fa-search"/>
      <input type="text"
             [formControl]="nameProductFormControl"
             pInputText
             class="w-100 d-block mb-3"
             placeholder="Nombre del producto"/>
    </p-iconField>
    <div class="mb-3">
      <p-checkbox styleClass="mr-2"
                  [binary]="true"
                  checkboxIcon="fas fa-check"
                  (onChange)="onToggleProductsViewChange()"/>
      <label class="m-0">Con imágen</label>
    </div>
    @if (toggleProductsView()) {
      <div class="row">
        @for (product of products(); track product.id) {
          <div class="col-6 col-sm-4 col-lg-3">
            <div class="card">
              <p-image
                [src]="product.imgUrl"
                [alt]="product.name"
                imageClass="img-fluid rounded-top"/>
              <div class="btn-group"
                   role="group">
                <button type="button"
                        (click)="addProduct(product, 1)"
                        class="btn btn-success rounded-0 border-0">
                  <i class="fas fa-cart-arrow-down"></i>
                </button>
                <div class="btn-group">
                  <button type="button"
                          class="btn btn-default rounded-0 border-0"
                          data-toggle="dropdown"
                          aria-expanded="false">
                    <i class="fa fa-angle-down w-25px"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item"
                            (click)="addProduct(product, 2)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +2
                    </button>
                    <button class="dropdown-item"
                            (click)="addProduct(product, 3)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +3
                    </button>
                    <button class="dropdown-item"
                            (click)="addProduct(product, 4)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +4
                    </button>
                    <button class="dropdown-item"
                            data-toggle="modal"
                            data-target="#product-modal-add-products"
                            (click)="showDialogSelectProductEvent(product)"
                            type="button">
                      <i class="fas fa-cart-plus w-25px"></i>
                      Más
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-footer border-top p-0">
                <button class="text-truncate btn py-3 btn-block"
                        data-toggle="modal"
                        data-target="#product-modal-add-products"
                        (click)="showDialogSelectProductEvent(product)"
                        [innerHTML]="product.nameHighlight">
                </button>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="list-group mb-3">
        @for (product of products(); track product.id) {
          <div class="list-group-item">
            <div class="d-flex align-items-center">
              <button type="button"
                      class="btn text-truncate pl-0 flex-grow-1 text-left"
                      data-toggle="modal"
                      data-target="#product-modal-add-products"
                      (click)="showDialogSelectProductEvent(product)"
                      [innerHTML]="product.nameHighlight">
              </button>
              <div class="btn-group"
                   role="group">
                <button type="button"
                        (click)="addProduct(product, 1)"
                        class="btn btn-success">
                  <i class="fas fa-cart-arrow-down"></i>
                </button>
                <div class="btn-group">
                  <button type="button"
                          class="btn btn-default dropdown-toggle"
                          data-toggle="dropdown"
                          aria-expanded="false">
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <button class="dropdown-item"
                            (click)="addProduct(product, 2)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +2
                    </button>
                    <button class="dropdown-item"
                            (click)="addProduct(product, 3)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +3
                    </button>
                    <button class="dropdown-item"
                            (click)="addProduct(product, 4)"
                            type="button">
                      <i class="fas fa-cart-arrow-down w-25px"></i>
                      +4
                    </button>
                    <button class="dropdown-item"
                            data-toggle="modal"
                            data-target="#product-modal-add-products"
                            (click)="showDialogSelectProductEvent(product)"
                            type="button">
                      <i class="fas fa-cart-plus w-25px"></i>
                      Más
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    }
    @if (showMoreButton.render()) {
      <p-button icon="fas fa-spinner"
                [disabled]="showMoreButton.disabled()"
                styleClass="btn btn-default btn-block"
                label="Cargar más"
                (click)="showMoreButton.click()"/>
    }

    <app-product-modal-add-products [selectedProduct]="selectedProduct()"
                                    (addProductsEvent)="addProductsSubmit($event)"
                                    (autoCompleteUnitTypeEvent)="autoCompleteUnitTypeEvent($event)"
                                    [findAllUnityTypesRes]="findAllUnityTypesRes()"
                                    [idShoppingList]="idShoppingList"/>
  </ng-container>
</app-page>
