<app-page>
  <ng-container navbar>
    <app-add-products-navbar-shopping-list [idShoppingList]="idShoppingList"/>
  </ng-container>
  <ng-container header>
    <app-add-product-header-shopping-list/>
  </ng-container>
  <ng-container content>
    <p-iconField iconPosition="left">
      <p-inputIcon styleClass="fas fa-search"/>
      <input type="text"
             pInputText
             class="w-100 d-block mb-3"
             placeholder="Nombre del producto"/>
    </p-iconField>
    <div class="list-group">
      @for (product of shoppingListProductsRes().content; track product.id) {
        <div class="list-group-item text-truncate"
             (click)="showDialogSelectProductEvent(product)">
          {{ product.name }}
        </div>
      }
    </div>
  </ng-container>
</app-page>

<p-dialog [header]="selectedProduct().name"
          [modal]="true"
          [(visible)]="visibleProductDialog"
          [draggable]="false"
          [resizable]="false"
          closeIcon="fas fa-times"
          [breakpoints]="{ '575px': '90vw' }">
  <form [formGroup]="saveShoppingListProductForm"
        (ngSubmit)="addProductsSubmit()">
    <div class="row">
      <div class="col-sm-3">
        <label for="units"
               class="d-block">Unidades</label>
        <p-inputNumber
          [ngClass]="{'d-block': true}"
          styleClass="w-100"
          inputStyleClass="w-100"
          formControlName="unitsPerProduct"
          mode="decimal"
          min="1"
          inputId="units"
          [useGrouping]="false"/>
      </div>
      <div class="col-sm-8">
        <label for="unitType"
               class="d-block">Tipo de unidades</label>
        <p-autoComplete
          formControlName="unitType"
          styleClass="w-100"
          inputId="unitType"
          [dropdown]="true"
          [suggestions]="findAllUnityTypesRes().content"
          (completeMethod)="autoCompleteUnitTypeEvent($event)"
          optionLabel="name"/>
      </div>
      <input type="hidden"
             name="shoppingListId"
             formControlName="shoppingListId">
      <input type="hidden"
             name="productId"
             formControlName="productId">
      <input type="hidden"
             name="unitTypeId"
             formControlName="unitTypeId">
    </div>
    <p-image
      [src]="selectedProduct().imgUrl"
      [alt]="selectedProduct().name"
      imageClass="img-fluid img-rounded img-fluid"
      styleClass="mt-3 mb-3"
      [preview]="true"/>
    <button type="submit"
            class="btn btn-success btn-block">
      <i class="fas fa-plus pr-1"></i>
      Agregar
    </button>
  </form>
</p-dialog>
