<div class="login-page">
  <div class="login-box">
    <div class="login-logo">
      <span>Despensa <b>App</b></span>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Inicie sesión</p>
        <form [formGroup]="loginForm"
              (ngSubmit)="loginSubmit()">
          <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   placeholder="Usuario"
                   id="username"
                   name="username"
                   formControlName="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password"
                   class="form-control"
                   placeholder="Contraseña"
                   name="password"
                   formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div>
            <button type="submit"
                    class="btn btn-primary btn-block">
              Iniciar sesión
            </button>
            <hr>
            <a routerLink="/"
               class="btn btn-default btn-block">
              <i class="fas fa-arrow-left"></i>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
