<button class="btn btn-default mr-1"
        [ngClass]="{ 'text-primary border-primary': isViewTypeProductList(viewTypeProductListEnum.PRODUCT_LIST) }"
        (click)="viewProductListEvent(viewTypeProductListEnum.PRODUCT_LIST)"
        type="button">
  <i class="fas fa-bars text-lg"></i>
</button>
<button class="btn btn-default"
        [ngClass]="{ 'text-primary border-primary': isViewTypeProductList(viewTypeProductListEnum.PRODUCT_IMAGE_LIST) }"
        (click)="viewProductListEvent(viewTypeProductListEnum.PRODUCT_IMAGE_LIST)"
        type="button">
  <i class="fas fa-th-large text-lg"></i>
</button>
