<app-page>
  <ng-container navbar>
    <app-navbar-shopping-list [isEditOrNew]="isEditOrNew()"
                              (editEvent)="editEvent()"
                              (saveEvent)="saveEvent()"
                              [idShoppingList]="shoppingListRes().id"
                              (goToAddProductsLink)="goToAddProductsEvent()"/>
  </ng-container>
  <ng-container header>
    <app-header-shopping-list [isEditOrNew]="isEditOrNew()"
                              [nameShoppingList]="shoppingListRes().name"
                              (nameShoppingListChange)="nameShoppingListChangeEvent($event)"
                              (deleteShoppingList)="deleteShoppingListEvent()"
    />
  </ng-container>
  <ng-container content>
    <form [formGroup]="productShoppingListForm">
      <div class="list-group mb-3"
           formArrayName="productsShoppingListForm">
        @for (response of shoppingListRes().products; track response.product.id) {
          <li class="list-group-item"
              [formGroupName]="$index">
            <div class="d-flex justify-content-between">
              <div class="list-group-item-content flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                  <p-checkbox styleClass="mr-2"
                              [binary]="true"
                              checkboxIcon="fas fa-check"
                              formControlName="selected"/>
                  <div class="flex-grow-1 text-truncate">
                    {{ response.product.name }}
                  </div>
                  <p-button icon="fas fa-expand-alt"
                            [text]="true"
                            (onClick)="showProductDetailsEvent(response)"/>
                </div>
              </div>
              <p-button icon="fas fa-trash"
                        (onClick)="deleteEvent(response)"
                        [disabled]="!isEdit()"
                        [text]="true"
                        severity="danger"/>
            </div>
            <input type="hidden"
                   formControlName="productId">
            <input type="hidden"
                   formControlName="unitTypeId">
          </li>
        }
      </div>
    </form>
  </ng-container>
</app-page>

<p-dialog [header]="selectedProduct().product.name"
          [modal]="true"
          [(visible)]="visibleProductDetails"
          [draggable]="false"
          [resizable]="false"
          closeIcon="fas fa-times"
          [breakpoints]="{ '575px': '90vw' }">
  <div class="row">
    <div class="col-6 col-sm-4">
      {{ selectedProduct().totalPrice }} €
      <small class="text-muted">{{ selectedProduct().product.price }} €</small>
    </div>
    <div class="col-6 col-sm-4">
      {{ selectedProduct().unitsPerProduct }}
      <small class="text-muted"> Unidades</small>
    </div>
    <div class="col-12 col-sm-4">
      <span class="badge badge-info">
        {{ selectedProduct().unitType.name }}
      </span>
    </div>
  </div>
  <p-image
    width="600"
    appendTo="body"
    [src]="selectedProduct().product.imgUrl"
    [alt]="selectedProduct().product.name"
    imageClass="img-fluid img-rounded img-fluid"
    styleClass="mt-3"
    [preview]="true"/>
</p-dialog>
