<app-page>
  <ng-container navbar>
    <app-navbar-shopping-list [isNew]="isNew()"
                              (deleteShoppingList)="deleteShoppingListEvent()"/>
  </ng-container>
  <ng-container header>
    <app-header-shopping-list [shoppingList]="shoppingListRes()"
                              (updateShoppingList)="updateShoppingListEvent($event)"
                              [isNew]="isNew()"/>
  </ng-container>
  <ng-container content>

    <a class="btn btn-success btn-block mb-3"
       (click)="goToAddProductsEvent()">
      <i class="fas fa-plus w-25px"></i>
      Agregar producto
    </a>

    @defer (when shoppingListRes().id) {
      <app-totals-summary [shoppingList]="shoppingListRes()"/>

      <app-selected-products [shoppingList]="shoppingListRes()"
                             (selectProductOption)="selectedProductOptionEvent($event)"/>

      <app-product-list [shoppingList]="shoppingListRes()"
                        (updateProduct)="updateProductEvent($event)"
                        (deleteProduct)="deleteProductEvent($event)"
                        (removeProductList)="removeProductListEvent($event)"
                        (deselectAllProducts)="deselectAllProductsEvent()"/>
    }
  </ng-container>
</app-page>
