<app-page>
  <ng-container navbar>
    <app-navbar-shopping-list [isEditOrNew]="isEditOrNew()"
                              (editEvent)="editEvent()"
                              (saveEvent)="saveEvent()"
                              [idShoppingList]="shoppingListRes().id"
                              (goToAddProductsLink)="goToAddProductsEvent()"/>
  </ng-container>
  <ng-container header>
    <app-header-shopping-list [isEditOrNew]="isEditOrNew()"
                              [nameShoppingList]="shoppingListRes().name"
                              (nameShoppingListChange)="nameShoppingListChangeEvent($event)"/>
  </ng-container>
  <ng-container content>
    <form [formGroup]="productShoppingListForm">
      <div class="list-group mb-3"
           formArrayName="productsShoppingListForm">
        @for (response of shoppingListRes().products; track response.product.id) {
          <li class="list-group-item"
              [formGroupName]="$index">
            <div class="d-flex justify-content-between">
              <div class="list-group-item-content flex-grow-1">
                <div class="d-flex justify-content-between align-items-center">
                  <p-checkbox styleClass="mr-2"
                              [binary]="true"
                              checkboxIcon="fas fa-check"
                              formControlName="selected"/>
                  <div class="flex-grow-1 text-truncate">
                    {{ response.product.name }}
                  </div>
                  <p-button icon="fas fa-expand-alt"
                            [text]="true"
                            (onClick)="showProductDetailsEvent(response)"/>
                </div>
              </div>
              <p-button icon="fas fa-trash"
                        (onClick)="deleteEvent(response)"
                        [disabled]="!isEdit()"
                        [text]="true"
                        severity="danger"/>
            </div>
            <input type="hidden"
                   formControlName="productId">
            <input type="hidden"
                   formControlName="unitTypeId">
          </li>
        }
      </div>
    </form>
  </ng-container>
</app-page>

<p-dialog [header]="selectedProduct().product.name"
          [modal]="true"
          [(visible)]="visibleProductDetails"
          [draggable]="false"
          [resizable]="false"
          closeIcon="fas fa-times"
          [breakpoints]="{ '575px': '90vw' }">
  <div class="row">
    <div class="col-6 col-sm-4">
      {{ selectedProduct().totalPrice }} €
      <small class="text-muted">{{ selectedProduct().product.price }} €</small>
    </div>
    <div class="col-6 col-sm-4">
      {{ selectedProduct().unitsPerProduct }}
      <small class="text-muted"> Unidades</small>
    </div>
    <div class="col-12 col-sm-4">
      <span class="badge badge-info">
        {{ selectedProduct().unitType.name }}
      </span>
    </div>
  </div>
  <p-image
    src="https://placehold.co/600x400"
    [alt]="selectedProduct().product.name"
    imageClass="img-fluid img-rounded img-fluid"
    styleClass="mt-3"
    [preview]="true"/>
</p-dialog>
<div id="options-modal"
     class="modal fade"
     tabIndex="-1"
     aria-hidden="true"
     data-backdrop="true"
     data-keyboard="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link border-radius-0 active"
               id="filter-nav-item"
               data-toggle="tab"
               href="#filter-tab-pane"
               role="tab"
               aria-controls="filter"
               aria-selected="true">
              <i class="fas fa-filter pr-1"></i>
              Filtrar
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link border-radius-0"
               id="sorting-nav-item"
               data-toggle="tab"
               href="#sorting-tab-pane"
               role="tab"
               aria-controls="sorting"
               aria-selected="true">
              <i class="fas fa-sort pr-1"></i>
              Ordenar
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link border-radius-0"
               id="options-nav-item"
               data-toggle="tab"
               href="#options-tab-pane"
               role="tab"
               aria-controls="options"
               aria-selected="true">
              <i class="fas fa-th-large pr-1"></i>
              Opciones
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="filter-tab-pane" role="tabpanel" aria-labelledby="filter">
            <div class="list-group list-group-flush">
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-tags w-fixed-25"></i>
                <span class="flex-grow-1">Categorías</span>
                <i class="fas fa-angle-right"></i>
              </button>
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-calendar-alt w-fixed-25"></i>
                <span class="flex-grow-1">Fecha de creación</span>
                <i class="fas fa-angle-right"></i>
              </button>
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-calendar-alt w-fixed-25"></i>
                <span class="flex-grow-1">Fecha de actualización</span>
                <i class="fas fa-angle-right"></i>
              </button>
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-star w-fixed-25"></i>
                <span class="flex-grow-1">Favoritos</span>
                <i class="fas fa-angle-right"></i>
              </button>
            </div>
          </div>
          <div class="tab-pane fade" id="sorting-tab-pane" role="tabpanel"
               aria-labelledby="sorting">
            <div class="list-group list-group-flush">
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Fecha de actualización
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Fecha de creación
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
              <button
                class="btn list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Título
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
            </div>
          </div>
          <div class="tab-pane fade" id="options-tab-pane" role="tabpanel"
               aria-labelledby="options">
            <div class="list-group list-group-flush">
              <button class="btn list-group-item list-group-item-action">
                <i class="fas fa-clone w-fixed-25"></i>
                Duplicar lista
              </button>
              <button class="btn list-group-item list-group-item-action text-danger border-top">
                <i class="fas fa-trash w-fixed-25"></i>
                Eliminar lista
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
