<app-page>
  <ng-container navbar>
    <app-navbar-home/>
  </ng-container>
  <ng-container header>
    <app-header-home/>
  </ng-container>
  <ng-container content>
    @for (response of shoppingListsRes().content; track response.id) {
      <app-shopping-list-card [response]="response"
                              (updateShoppingList)="updateShoppingListEvent($event)"
                              (deleteShoppingList)="deleteShoppingListEvent($event)"/>
    }

    @if (showMoreButton().render) {
      <p-button [disabled]="showMoreButton().disabled"
                styleClass="btn btn-default btn-block"
                label="Mostrar más"
                (click)="showMoreButton().click()"/>
    }
  </ng-container>
</app-page>
