<div class="wrapper">
  <nav
    class="main-header navbar navbar-expand fixed-bottom navbar-white navbar-light d-flex justify-content-between border-top">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" data-widget="pushmenu" type="button">
          <i class="fas fa-bars"></i>
        </button>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-success" href="/shopping-list">
          <i class="fas fa-plus pr-1"></i>
          <span>Nuevo</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" type="button">
          <i class="fas fa-search"></i>
        </button>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
      <img src="../../../../../assets/AdminLTELogo.png" alt="Despensa app" class="brand-image img-circle elevation-3"/>
      <span class="brand-text font-weight-light">Despensa app</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>
                Lista de la compra
                <i class=" right"></i>
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="d-flex justify-content-between">
          <h1>Listas</h1>
          <button class="btn" type="button">
            <i class="fas fa-filter"></i>
          </button>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        @if (shoppingListsRes$ | async; as shoppingListRes) {
          @for (response of shoppingListRes.content; track response.id) {
            <div class="card card-primary card-outline cursor-pointer">
              <div class="card-body">
                <h3 class="card-title">{{ response.name }}</h3>
                <br/>
                <span class="text-muted">{{ response.totalProducts }} Productos</span>
                <br/>
                <small class="text-muted">{{ response.createdAt }}</small>
              </div>
            </div>
          }
        }
      </div>
    </section>
  </div>
</div>
