<app-navbar>
  <ng-container navbar-center>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-edit pr-1"></i>
          <span>Editar</span>
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-edit pr-1"></i>
          <span>Guardar</span>
        </button>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/shopping-list/products">
          <i class="fas fa-plus pr-1"></i>
          <span>Agregar producto</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container navbar-right>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" type="button">
          <i class="fas fa-search"></i>
        </button>
      </li>
    </ul>
  </ng-container>
</app-navbar>
