<app-navbar>
  <ng-container navbar-center>
    <ul class="navbar-nav">
      <li class="nav-item mr-1">
        @if (isEdit) {
          <p-button icon="fas fa-save"
                    styleClass="btn btn-primary"
                    label="Guardar"
                    (onClick)="saveClickEvent()"/>
        } @else {
          <p-button icon="fas fa-edit"
                    styleClass="btn btn-primary"
                    label="Editar"
                    (onClick)="editClickEvent()"/>
        }
      </li>
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/shopping-list/{{idShoppingList}}/add-products">
          <i class="fas fa-plus pr-1"></i>
          <span>Agregar producto</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container navbar-right>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" type="button">
          <i class="fas fa-search"></i>
        </button>
      </li>
    </ul>
  </ng-container>
</app-navbar>
