<div class="modal fade"
     id="actions-modal-navbar"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Acciones</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <ul class="nav nav-tabs"
            role="tablist">
          <li class="nav-item"
              role="presentation">
            <a class="nav-link active rounded-0 border-top-0 border-left-0"
               id="filter-action-modal-tab"
               data-toggle="tab"
               href="#filter-action-modal"
               role="tab"
               aria-controls="filter-action-modal"
               aria-selected="true">
              <i class="fas fa-filter"></i>
              Filtrar
            </a>
          </li>
          <li class="nav-item"
              role="presentation">
            <a class="nav-link border-top-0 rounded-0"
               id="sort-action-modal-tab"
               data-toggle="tab"
               href="#sort-action-modal"
               role="tab"
               aria-controls="sort-action-modal"
               aria-selected="false">
              <i class="fas fa-sort"></i>
              Ordenar
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active"
               id="filter-action-modal"
               role="tabpanel"
               aria-labelledby="filter-action-modal-tab">
            <div class="list-group list-group-flush rounded-bottom">
              <button type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-calendar-alt w-25px"></i>
                <span class="flex-grow-1">Fecha</span>
                <i class="fas fa-angle-right"></i>
              </button>
              <button type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <i class="fas fa-star w-25px"></i>
                <span class="flex-grow-1">Favoritos</span>
                <i class="fas fa-angle-right"></i>
              </button>
            </div>
          </div>
          <div class="tab-pane fade"
               id="sort-action-modal"
               role="tabpanel"
               aria-labelledby="sort-action-modal-tab">
            <div class="list-group list-group-flush rounded-bottom">
              <button type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Fecha de actualización
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
              <button type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Fecha de creación
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
              <button type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Título
                <i class="fas fa-long-arrow-alt-down"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
