@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback");
@import "admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "admin-lte/dist/css/adminlte.min.css";
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.layout-bottom-navbar-fixed .wrapper .content-wrapper {
  padding-bottom: calc(3.5rem + 1px);
}

.layout-bottom-navbar-fixed .wrapper .main-header {
  border-top: 1px solid #dee2e6;
  border-bottom: 0;
}

.main-sidebar .brand-link > img {
  opacity: 0.8;
}

.border-radius-0 {
  border-radius: 0 !important;
}
