<app-navbar>
  <ng-container navbar-center>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-success" routerLink="/shopping-list">
          <i class="fas fa-plus pr-1"></i>
          <span>Nuevo</span>
        </a>
      </li>
    </ul>
  </ng-container>
  <ng-container navbar-right>
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn" type="button"
                disabled>
          <i class="fas fa-search"></i>
        </button>
      </li>
    </ul>
  </ng-container>
</app-navbar>
